<%- include('./includes/head.ejs') %>
</head>
<body class="w3-light-grey">
  <!-- Top container -->
    <%- include('./includes/top-container.ejs') %>
    <!-- Sidebar/menu -->
    <section id="slider"><!--slider-->
      <div class="container">
        <div class="row">
          <%- include('./includes/navigation.ejs') %>
          <%- include('./featureItems/featureItems.ejs') %>
        </div>
      </div>
    </section>
  
    <!-- Footer -->
   <%- include('./includes/footer.ejs') %>
</body>